body {
    background-image: url(water.jpg);
    background-size: 100rem;
    background-repeat: no-repeat;  
    background-color: #f4e6d8;
    background-attachment: fixed;
    background-position: center;
}

/* FEEDBACK VERHAAL TOEVOEGEN IN NAV */

nav ul li h2 {
    font-size: 1rem;
    float: right;
    margin-top: 1rem;
    background-color: #e83a6a;
    border-radius: 5rem;
    border: none;
    padding: 0.3rem 0.7rem 0.3rem 0.7rem;
    color: white;
    margin-left: -0.5rem;
    opacity: 0;
} 

/* DEZE CLASS WORDT TOEGEVOEGD AAN ^ VIA JS */

.add {
    opacity: 1;
    animation: notification 0.5s forwards;
    display: block;
}

/* FILTER */

main form {
    display: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 1rem;
    margin-top: 1rem;
    color: white;
}

fieldset {
    text-align: center;
    border: none; 
    padding: 1.2rem;
    border-radius: 1rem;
    width: 32%;
}

fieldset:first-of-type {
    background: #32d57d;
}

fieldset:nth-of-type(2){
    background: #e83a6a;
}

fieldset:nth-of-type(3){
    background: #2c2f86;
}

fieldset label {
    font-size: 1.5rem;
}
   
fieldset input, fieldset select {
    display: block;
    margin: auto;
    margin-top: 1.2rem;
    border: none;
    font-size: 1rem;
    text-align: center;
}

input[type="color"] {
    width: 50%;
    background: white;
}

fieldset select {
    height: 1.5rem;
}

fieldset input {
    width: 50%;
    height: 1.5rem;
}

/* FILTER KNOP DIE OP SMALL SCREEN SIZE TEVOOSCHIJN KOMT */

main button {
    display: none;
    float: right;
    height: 3rem;
    width: 6rem;
    font-size: 1.3rem;
    border-radius: 1.2rem;
    background-color: #32d57d;
    border: none;
    color: white;
    cursor: pointer;
}

body > h2 {
    font-size: 1.6rem;
    background: #2c2f86;
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

/* VERHALEN */

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* LAAD ICON */

body > img {
    width: 20%;
    height: 20%;
    display: flex;
    margin: 2rem auto;
    opacity: 1;
}

.hide {
    display: none;
    opacity: 0;
}

article {
    width: 49%;
    color: black;
    padding: 1rem;
    background: white;
    border-radius: 1.2rem;
    margin-bottom: 2%; 
    z-index: 2;
}

article footer, article p {
    font-size: 1rem;
}

/* TITELS VAN DE VERHALEN*/

section article:first-of-type img {
    width: 83%;
    padding-bottom: 1rem;
}

section article:nth-of-type(2) img {
    width: 78%;
}

section article:nth-of-type(3) img{
    width: 85%;
}

section article:nth-of-type(4) img{
    width: 85%;
}

/* FIXED BACKGROUNDS */

section article:first-of-type {
    background-image:url(ontwerpalzheimer.jpg);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

section article:nth-of-type(2) {
    background-image:url(hongerwinterachtergrond.png);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

section article:nth-of-type(3) {
    background-image:url(vtzachtergrondblack.png);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/* LEES VERDER KNOP */

section article a {
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    background: #32d57d;
    padding: 0.5rem; 
    border-radius: 0.5rem;
    float: right;
    margin-top: 1rem;
}

article a:hover {
    background: #05cd72;
}

article p, footer {
    margin: 1rem; 
    line-height: 1.2rem;
}

/* KNOP VOOR VERHAAL TOEVOEGEN */

article button {
    background: url(plusje.png) no-repeat top -.5rem center;
    background-size: cover;
    float: right;
    border-radius: 50%;
    border: none;
    width: 2.5rem;
    height: 2.5rem;
}


/* MEDIA QUERIES */

@media (max-width: 55rem) {
    form {
        height: 30rem;
        flex-wrap: wrap;
        opacity: 1;
        transition: height .3s ease-out, opacity .3s .3s ease-out;
    }
    
    form fieldset {
        width: 60%;
        margin: auto;
    }
    
    form fieldset+fieldset {
        margin-top: 1rem;
    }
    
    main button {
        display: block;
        margin-top: 0.5rem;
        margin-bottom: 1rem; 
        position: relative;
        z-index: 1;
    }
    
    .formschuif {
        opacity: 0;
        height: 0;
        transition: height .3s .3s ease-out, opacity .3s ease-out;
    }
}

@media (max-width: 50rem) {
    article {
        width: 100%;
    }
    
    article p, article footer {
        font-size: 1.3rem;
        line-height: 1.6rem;
    }
}

@media (max-width: 40rem) {
    article {
        width: 100%;
    }
    
    body {
        margin-top: 0.5rem;
    }
    
    form fieldset {
        width: 100%;
    }
    
    form fieldset+fieldset {
        margin-top: 0.2rem;
    }
}

@media (max-width: 28rem){
    nav ul li h2 {
        margin-top: -4rem;
        margin-left: 2.7rem;
    }
}

