* {
    font-family: "Nexa Light", sans-serif;
}

header {
    background: hsla(0,100%,100%,1); 
    border-radius: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

/* LOGO */
header img { 
    float: left; 
    width: 11em;
    margin-top: 0.2em;
    margin-left: 0.5em;
    margin-right: 4em;
}

header nav a {
    font-family: "Nexa Bold";
    display: inline-block;
    color: #2c2f86;
    text-align: center;
    padding: 0.5em 5em;
    text-decoration: none; 
    font-size: 18px;  
}

header nav a:hover{
    color: #05cd72; 
}

body {
    background-image: url(dominicaanse-republiek.jpg);
    background-size: 90em;
    background-repeat: no-repeat;  
    background-color: #f4e6d8;
    background-attachment: fixed;
}

/* FILTER HOMEPAGE */
main {
    margin-top: 4em;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 1em;
    background: hsla(0,100%,100%,1);
}

main input {
    width: 35em;
    margin-left: 2em;
}

main input:first-of-type {
    margin-right: 8em;
}

main input:nth-of-type(2){
    margin-right: 2.5em;
}

main button {
    font-family: "Nexa Bold";
    background: #e83a6a;
    border-radius: 2em;
    border: none;
    font-size: 15px;
    padding: 0.8em;
    color: white;
    display: block;
    display: inline-block;
    margin-left: 1em;
}

main button:hover {
     background: #e51c5a;
}

main h2:first-of-type {
    margin-right: 12.8em;
}

main h2 {
    font-family: "Nexa Bold";
    font-size: 20px;
    color: #2c2f86;
    margin-top: 1em;
    margin-left: 1.2em;
    display: inline-block;
}

main p {
    font-size: 15px;
    color: #2c2f86;
    display: inline-block;
    margin-bottom: 1em;
    margin-left: 1.7em;
}

main p:first-of-type {
    margin-right: 19em;
}

main p:nth-of-type(2) {
    margin-right: 6em;
}

main p:nth-of-type(3) {
    margin-right: 17.2em;
}

/* ARTIKELEN */

article:first-of-type {
    margin-top: 7em;
}

article {
    background: hsla(0,100%,100%,1);
    border-radius: 1em;
    padding: 1em;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 25em;
}

article a {
    color: #2c2f86;
    text-decoration: none; 
    font-size: 18px;
}

article a:hover{
    color: #05cd72; 
}

article h2 {
    font-family: "Nexa Bold";
    color: #2c2f86;
}

article h2:hover {
    color: #05cd72;
}

/* ZOEK */
div button, body > button {
    background: #e83a6a;
    border: none;
    padding: 1em;
    border-radius: 1.2em; 
    margin-top: 2em;
    margin-right: 1.4em;
}

div button, body > button:hover {
    background: #e51c5a;
}

div {
    display: block;
    float: right;
}

div input, body > input {
    font-family: "Nexa Bold";
    width: 18em;
    height: 3em;
    border: none;
    border-radius: 1.2em;
    padding-top: 1.7em;
    /* ZOEKBALK NOG NIET PERFECT OP BEIDE HTML*/
}

body button img, body > button img {
    width: 2em;
}

/* NU KOMT DE LOGIN.HTML PAGE STYLE */

/* INLOGGEN EN REGISTEREN */
body > form:first-of-type {
    background: white;
    padding: 1.6em;
    border-radius: 1.2em;
    display: inline-block;
}

body > form:nth-of-type(2) {
    background: white;
    padding: 0.5em;
    border-radius: 1.2em;
    display: block;
}

/* ALLE INVUL BALKJES GOED ZETTEN */
body > form:first-of-type input {
    display: block;
    margin-top: 1em; 
    margin-bottom: 1em;
    padding: 0.8em;
    border-radius: 1.2em;

}

body > form:nth-of-type(2) label {
    display: block;
}

body > form:nth-of-type(2) label:nth-of-type(1) input {
    margin-left: 10em;
}

body > form:nth-of-type(2) label:nth-of-type(2) input {
    margin-left: 4.4em;
}

body > form:nth-of-type(2) label:nth-of-type(3) input {
    margin-left: 5.6em;
}

body > form:nth-of-type(2) label:nth-of-type(4) input {
    margin-left: 10.5em;
}

body > form:nth-of-type(2) label:nth-of-type(5) input {
    margin-left: 12.3em;
}
