@font-face {
    src: url(../fonts/Nexa%20Light.otf);
    font-family: "Nexa Light";
}

@font-face {
    src: url(../fonts/Nexa%20Bold.otf);
    font-family: "Nexa Bold";
}

@font-face {
    src: url(../fonts/Trattatello.ttf);
    font-family: "Trattatello";
}

*  {
    font-family: "Nexa Light", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@keyframes notification {
    0% {
        transform: scale(0);
    }
    80% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

body {
    padding-top: 0.5rem;
    padding-left: 15vw;
    padding-right: 15vw;
}

header {
    background: white; 
    border-radius: 1rem;
    height: 6rem;
    /*position: sticky;
    top: 0;
    z-index: 1;*/
}

header ul {
    display: flex;
    flex-direction: row; 
    justify-content: center;
}

header nav li {
    font-family: "Nexa Bold";
    list-style: none;
    margin-left: 3vw;
    margin-right: 3vw;
}

img[src="styles/zoekblauw.png"] {
    width: 2.8rem; 
}

/* zoekbalk */
header button {
    margin-top: 1.5rem;
    background: none;
    border: none;
}

.search {
    opacity: 1;
}

main > input {
    border: none;
    padding: 1rem;
    border-radius: 0.7rem;
    font-size: 1rem;
    background: url(zoekblauw.png) no-repeat right 1rem center;
    background-size: 2rem;
    background-color: white;
    opacity: 0;
    transition: opacity 2s ease-out;
    width: 100%;
    margin-top: 5rem;
}

img[src="styles/logo.png"] {
    width: 10rem;
    margin: auto;
    padding-left: 1rem;
    margin-top: 0.3rem;
}

img[src="styles/login.png"] {
    width: 3.2rem;
    margin-top: 1.5rem;
}

/* MEDIA QUERIES */
@media (max-width: 50rem) {
    body, header {
        padding: 0.5rem 1rem;
    }
}


@media (max-width: 40rem) {
    article {
        width: 100%;
    }
    
    body, header {
        padding: 0.5rem 1rem;
    }
}


