html {
    background-color: #1A1617;
    background-image: url(Tekengebied%205.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 90rem;
}

article {
    padding-left: 45%;
    padding-right: 0;
}

article h2, p{
    font-family: "Trattatello";
    font-size: 1.6rem;
    line-height: 2.6rem;
}

article h2 {
    font-size: 5rem;
    margin-bottom: 4rem;
    margin-top: 2rem;
}

section {
    margin-top: 5rem;
    background-color: rgba(255,255,255,.9);
    border-radius: 1rem;
    margin-bottom: 1rem;
}

section button{
    float: right;
    align-items: center;
    margin: 1rem;
    border: none;
    background: none;
}

section button img {
    width: 3rem;
    height: 3rem;
}

section fieldset {
    border: none;
}

section form label {
    margin-left: 1rem;
    margin-top: 1rem;
    display: flex;
    font-size: 1.5rem
}

section input {
    border: none;
    margin-left: 1rem;
    margin-bottom: 2rem;
    width: 15rem;
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    padding-bottom: 3rem;
}

section form button {
    font-size: 1rem;
    color: white;
    background: #32d57d;
    padding: 0.5rem; 
    border-radius: 0.5rem;
    border: none;
    margin: 1rem;
}

/* MEDIA QUERIES */

@media (max-width: 50rem) {
    article {
    padding-left: 35%;
    padding-right: 2%;
}
}

@media (max-width: 38rem) {
    article {
    padding-left: 25%;
    padding-right: 2%;
}
}

@media (max-width: 35rem) {
    section input {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
    article h2 {
        font-size: 3.5rem;
    }
    article p{
        font-size: 1.8rem;
    }
}

@media (max-width: 32rem) {
    article {
    padding-left: 18%;
    padding-right: 2%;
}
}