html {
    background-image: url(305656-nature-landscape-winter-forest-Netherlands-snow-trees-cold.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/* like icon die komt zodra je op het plusje klik */

nav ul li h2 {
    font-size: 1rem;
    float: right;
    margin-top: 1rem;
    background-color: #e83a6a;
    border-radius: 5rem;
    border: none;
    padding: 0.3rem 0.7rem 0.3rem 0.7rem;
    color: white;
    margin-left: -0.5rem;
    opacity: 0;
} 

.add {
    opacity: 1;
    animation: notification 0.5s forwards;
    display: block;
}

article {
    display: flex;
    flex-direction: column;
}

img[src="styles/hongerwinterdesk.png"] {
    width: 100%;
    margin: auto;
}

img[src="styles/hongerwintermobile.png"] {
    width: 100%;
    display: none;
}


section {
    margin-top: 5rem;
    background-color: rgba(255,255,255,.9);
    border-radius: 1rem;
    margin-bottom: 1rem;
}

/* like button */

section button {
    float: right;
    align-items: center;
    margin: 1rem;
    border: none;
    background: none;
}

section button img {
    width: 3rem;
    height: 3rem;
}

section fieldset {
    border: none;
    display: flex;
}

section form label {
    margin: auto;
    text-align: center;
    margin-left: 1rem;
    margin-top: 1rem;
    font-size: 1.5rem
}

section input {
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
    width: 15rem;
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 3rem;
}

section form button {
    margin: auto;
    font-size: 1rem;
    color: white;
    background: #32d57d;
    padding: 0.5rem; 
    border-radius: 0.5rem;
    border: none;
    margin-bottom: 1rem;
}

/* plusje voor verhaal toevoegen */

section > button:last-of-type {
    background: url(plusje.png) no-repeat top -.5rem center;
    background-size: cover;
    float: right;
    border-radius: 50%;
    border: none;
    width: 2.5rem;
    height: 2.5rem;
}

/* MEDIA QUERIES */


@media (max-width: 35rem) {
    section input {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
   img[src="styles/hongerwinterdesk.png"] {
    display: none;
}
    img[src="styles/hongerwintermobile.png"] {
    width: 100%;
    display: inline;
}
}

@media (max-width: 28rem){
    nav ul li h2 {
        margin-top: -4rem;
        margin-left: 2.7rem;
    }
}