html {
   background-image: url(vtzachtergrond.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

/* like icon die komt zodra je op het plusje klik */

nav ul li h2 {
    font-size: 1rem;
    float: right;
    margin-top: 1rem;
    background-color: #e83a6a;
    border-radius: 5rem;
    border: none;
    padding: 0.3rem 0.7rem 0.3rem 0.7rem;
    color: white;
    margin-left: -0.5rem;
    opacity: 0;
} 

.add {
    opacity: 1;
    animation: notification 0.5s forwards;
    display: block;
}


article {
    display: flex;
    flex-direction: column;
}

img[src="styles/vtzdesktop.png"] {
    width: 100%;
    margin: auto;
}

img[src="styles/vtzmobile.png"] {
    width: 100%;
    display: none;
}

section {
    margin-top: 1rem;
    background-color: rgba(255,255,255,.9);
    border-radius: 1rem;
    margin-bottom: 1rem;
}

/* like button */

section button{
    float: right;
    margin: 1rem;
    border: none;
    background: none;
}

section button img {
    width: 3rem;
    height: 3rem;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: row;
}

section form label {
    margin: auto;
    text-align: center;
    margin-left: 1rem;
    margin-top: 1rem;
    font-size: 1.5rem
}

section input {
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
    width: 50%;
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 3rem;
}

section form button {
    margin: auto;
    font-size: 1rem;
    color: white;
    background: #32d57d;
    padding: 0.5rem; 
    border-radius: 0.5rem;
    border: none;
    margin-bottom: 1rem;
}

/* plusje voor verhaal toevoegen */

section > button:last-of-type {
    background: url(plusje.png) no-repeat top -.5rem center;
    background-size: cover;
    float: right;
    border-radius: 50%;
    border: none;
    width: 2.5rem;
    height: 2.5rem;
}

/* reacties */

section:last-of-type {
    background: none;
}

section article {
    background: #32d57d;
    border-radius: 1rem;
    padding: 1rem;
    color: white;
}

section article:first-of-type {
    margin-bottom: 1rem;
}

body > h2 {
    font-size: 1.5rem;
    font-weight: 100;
    background: #2c2f86;
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

article h2 {
    margin-bottom: 1rem;
    color: #2c2f86;
    font-size: 1.3rem;
}

article p {
    font-size: 1.2rem;
    line-height: 1.3rem;
    margin-left: 6vw;
    margin-right: 6vw;
}

/* ------MEDIA QUERIES------ */

@media (max-width: 40rem) {
    article > img:last-of-type {
        width: 100%;
    }
}

@media (max-width: 35rem) {
    section {
        display: flex;
        flex-direction: column;
    }
    
    section > button {
        margin: auto;
    }
    
    section > button:first-of-type {
        margin-right: 20vw;
        margin-top: 1rem;
    }
    
    section > button:last-of-type {
        margin-left: 20vw; 
        margin-top: -3rem;
    }
    
    fieldset  {
        margin-top: 1rem;
    }
    
    section input {
        width: 90%;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
    
    img[src="styles/vtzdesktop.png"] {
    display: none;
}
    img[src="styles/vtzmobile.png"] {
    width: 100%;
    display: inline;
}
}

@media (max-width: 28rem){
    nav ul li h2 {
        margin-top: -4rem;
        margin-left: 2.7rem;
    }
}

@media (max-width: 25rem){
    fieldset {
        display: flex;
        flex-direction: row; 
        justify-content: center;
    }
    
    form label {
        color: red;
    }
}